.form__popup {
    width: 350px;
}

.form__popup .text__heading_active {
    margin-bottom: 26px;
}

@media screen and (max-width: 624px) {
    .form__popup {
        width: 280px;
    }
    .form__popup .text__heading_active {
        padding-left: 0;
        max-width: 200px;
    }
    .form__popup .button {
        width: 100%;
    }
}
