
@media screen and (max-width: 855px) {
    .excursion__image-container {
        width: 51%;
        height: 490px;
        overflow: hidden;
        position: relative;
    }
}

@media screen and (max-width: 855px) {
    .excursion__image-container {
        width: 100%;
        height: auto;
    }
}