.container {
    max-width: 1180px;
    margin: 120px auto;
    position: relative;
}

@media screen and (max-width: 1179px) {
    .container {
        max-width: 98vw;
        margin: 100px auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 702px;
    }
}

@media screen and (max-width: 710px) {
    .container {
        max-width: 98vw;
    }
}

@media screen and (max-width: 624px) {
    .container {
        max-width: 92vw;
        margin: 80px auto;
    }
}