.logo {
    width: 130px;
    height: 94px;
}

@media screen and (max-width: 768px) {
    .logo {
        width: 96px;
        height: 69px;
    }
}

@media screen and (max-width: 624px) {
    .logo {
        width: 54px;
        height: 46px;
    }
}