.feedback-page__benefits-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

@media screen and (max-width: 768px) {
    .feedback-page__benefits-list {
        display: grid;
        grid-template-columns: 28.5% 28.5% 28.5%;
        gap: 24px;
    }
}

@media screen and (max-width: 625px) {
    .feedback-page__benefits-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
}

.feedback-page__benefits-list > .benefits__item {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    width: 100%;
}