.footer__container {
    max-width: 1180px;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 1179px) {
    .footer__container {
        max-width: 99vw;
    }
}

@media screen and (max-width: 768px) {
    .footer__container {
        max-width: 702px;
    }
}

@media screen and (max-width: 710px) {
    .footer__container {
        max-width: 98vw;
    }
}

@media screen and (max-width: 624px) {
    .footer__container {
        max-width: 92vw;
    }
}
