.types__list {
    display: flex;
    width: 100%;
    margin: 32px 0 0 0;
    column-gap: 31px;
}

@media screen and (max-width: 1100px) {
    .types__list {
        display: grid;
        grid-template-columns: 273px 273px;
        justify-content: center;
    }
}

@media screen and (max-width: 625px) {
    .types__list {
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        gap: 12px;
    }
}
