.form__label_checkbox {
    position: relative;
    display: flex;
    gap: 8px;
    margin-top: 4px;
    margin-bottom: 32px;
}   

.form__label_checkbox a {
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .form__label_checkbox {
        margin-bottom: 24px;
    }   
}