.construct-element {
    background-color: #f5f5f5;
    display: flex;
    padding: 32px;
    align-items: flex-start;
    gap: 54px;
    width: 100%;
}

@media screen and (max-width: 625px) {
    .construct-element {
        flex-direction: column;
    }
}
