.footer__wrapper {
    display: grid;
    grid-template-columns: 30.3% 14.5% 14.5% 31.7%;
    gap: 2.5%;
}

@media screen and (max-width: 950px) {
    .footer__wrapper {
        gap: 0;
    }
}

@media screen and (max-width: 800px) {
    .footer__wrapper {
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 624px) {
    .footer__wrapper {
        display: flex;
        flex-direction: column;
    }
}

