.filters {
    width: 290px;
}

.filters .popup__toggle {
    display: none;
}

@media screen and (max-width: 1050px) {
    .filters {
        transform: translate(-150%);
        position: fixed;
        z-index: 2;
        height: 100%;
        overflow-y: scroll;
        width: 50vw;
        background-color: #ffffff;
        top: 0;
        padding: 0 0 0 32px;
        margin: 0 0 0 -9px;
    }
    .filters .popup__toggle {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .filters {
        margin: 0 0 0 -35px;
    }
}

@media screen and (max-width: 730px) {
    .filters {
        margin: 0 0 0 -15px;
    }
}

@media screen and (max-width: 625px) {
    .filters {
        transform: translate(0);
        transform: translateY(-150%);
        position: fixed;
        z-index: 2;
        height: 100%;
        overflow-y: scroll;
        width: 100%;
        margin: 0;
        top: 51px;
        left: 0;
        box-sizing: border-box;
    }
    .filters .popup__toggle {
        display: block;
    }

}
