.root {
    background-color: #FFFFFF;
    font-family: 'Inter', Arial, sans-serif;
    color: #000000;
    letter-spacing: 0;
}

ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,h1,h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

*::after, *::before {
    content: none;
    }

td {
    padding: 0;
}