@media screen and (max-width: 1050px) {
    .filters__button_built {
        display: none
    }
}

@media screen and (max-width: 625px) {
    .filters__button_built {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}