.house-built__image-column {
    max-width: 777px;
}

@media screen and (max-width: 1100px) {
    .house-built__image-column {
        max-width: 727px;
    }
}

@media screen and (max-width: 1050px) {
    .house-built__image-column {
        max-width: 777px;
    }
}


.house-built__image-column > .f-thumbs .f-thumbs__viewport .f-thumbs__track {
    flex-direction: row;
}

#builtCarousel {
    max-width: 757px;
    margin: 0 auto;
}

.house-built__image-column > .f-carousel__thumbs {
    --f-thumb-width: 176px;
    --f-thumb-height: 112px;
}

@media screen and (max-width: 768px) {
    .house-built__image-column > .f-carousel__thumbs {
        --f-thumb-width: 158px;
        --f-thumb-height: 100px;
    }
}

@media screen and (max-width: 625px) {
    .house-built__image-column > .f-carousel__thumbs {
        --f-thumb-width: 89px;
        --f-thumb-height: 68px;
    }
}

@media screen and (max-width: 1179px) {
    .house-built__image-column {
        margin: 28px auto 100px;
    }
}

@media screen and (max-width: 768px) {
    .house-built__image-column {
        max-width: 702px;
        margin: 24px auto 88px;
    }
}

@media screen and (max-width: 710px) {
    .house-built__image-column {
        max-width: 98vw;
    }
}

@media screen and (max-width: 700px) {
    .house-built__image-column {
        max-width: 85vw;
    }
}

@media screen and (max-width: 624px) {
    .house-built__image-column {
        max-width: 92vw;
        margin: 12px auto 24px;
    }
}
