.header__container {
    max-width: 1180px;
    margin: 0 auto 12px;
    position: relative;
}

@media screen and (max-width: 1179px) {
    .header__container {
        max-width: 99vw;
    }
}

@media screen and (max-width: 768px) {
    .header__container {
        max-width: 702px;
    }
}

@media screen and (max-width: 624px) {
    .header__container {
        max-width: 92vw;
        margin: 0 auto 0;
    }
}