.navigation {
    background-color: #fff5e6;
    width: 100%;
    border-bottom: 1px solid #000000;
    position: relative;
}

@media screen and (max-width: 624px) {
    .navigation {
        background-color: #ffffff;
        position: relative;
        border-bottom: 1px solid #E4E8EB;
    }
}
