
.house-built__wrapper .house__content-heading {
    margin: 0 0 24px 0;
}

.house-built__wrapper .text__small_inactive {
    margin: 0 0 16px 0;
}

.house-built__wrapper .house__content-heading .house__tabs-subheading {
    margin: 16px 0 0 0;
}