.footer {
    display: grid;
    background-color: #F5F5F5;
    padding: 32px 0 24px;
}

.footer > .text__small {  /* политика конфиденциальности */
    display: flex;
    /* width: 100%; */
}

@media screen and (max-width: 624px) {
    .footer {
        padding: 24px 0 12px;
    }

    .footer > .text__small {  /* политика конфиденциальности */
        flex-direction: column;
    }
}