.contacts__tel {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

@media screen and (max-width: 868px) {
    .contacts__tel {
        font-size: 16px;
        line-height: 20px;
    }
}