.sorting__form {
    display: flex;
    gap: 24px;
}

@media screen and (max-width: 1050px) {
    .sorting__form {
       margin-left: 17px;
       flex-grow: 1;
    }
    
}

@media screen and (max-width: 768px) {
    .sorting__form {
       margin-left: 0px;
       gap: 0;
    }
    
}