.about__heading {
    text-align: center;
}

@media screen and (max-width: 1180px) {
    .about__heading {
        font-size: 32px;
        line-height: 36px;
    }
}

@media screen and (max-width: 800px) {
    .about__heading {
        font-size: 32px;
        line-height: 36px;
    }
}


@media screen and (max-width: 768px) {
    .about__heading {
        width: 400px;
        margin-top: 24px;
        text-align: left;
    }
}

@media screen and (max-width: 624px) {
    .about__heading {
        width: 290px;
        margin-top: 24px;
        font-size: 24px;
        line-height: 28px;
    }
}
