.about__column .text__subheading:last-of-type {
    margin-top: 16px;
    margin-bottom: 32px;
}

.about__column .text__subheading:first-of-type {
    margin-top: 32px;
}

.about__column {
    width: 49%;
}

@media screen and (max-width: 768px) {
    .about__column {
        width: 100%;
    }
}
